<h1>New Party</h1>

<%=form_for @party do |f|%>
  <%=f.label :name%>
  <%=f.text_field :name%>
  <%=f.label :date%>
  <%=f.date_field :date%>
  <%=f.label :budget%>
  <%=f.number_field :budget%>
  <%=f.fields_for :snacks do |s|%>
    <%=s.label :name%>
    <%=s.text_field :name%>
    <%=s.label :description%>
    <%=s.text_field :description%>
  <%end%>
  <%=f.submit%>

<%end%>
